* {margin:0;padding:0;box-sizing:border-box;}
html {font-size:20px;}
body {background-color:gray;} 
section {display:flex;justify-content:center;align-items: center;}
input[type=button]{width:100px;height:100px;cursor: pointer;}
#ball {width: 1rem;height:1rem;border: 1px solid red;top:4rem;left:4rem;position:absolute;}
#ballimg {width: 2rem;height:2rem;position: absolute;top: -0.5rem;left: -0.5rem;}
#walking_sector {width:9rem;height:9rem;border: 1px solid green;border-style:dashed;position: relative;}
#game {width:calc(11rem + 2px);height:calc(11rem + 2px);border: 1px solid blue;display:flex;justify-content:center;align-items: center;
    clip-path: polygon(5% 5%, 5% 95%,95% 95%,95% 5%);
}
#map {width:55rem;height:33rem;top:-1rem;left:-1rem;z-index: -1;position: absolute;}
#sea {width: 100%;height: 100%;background-image: url(sea.gif);background-size: calc(100%/55);position: absolute;}
#mappic {width: 100%;height: 100%;background-image: url(level.png);background-size: 100%;position: absolute;}